/* Default */
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body {
    background: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

/*  HEADER  */

.header {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #edfbff;
}
.header__inner {
    padding-top: 48px;
}
.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__top-logo {
    width: 200px;
    height: 30px;
}
.header__top-link {
    min-width: 200px;
    min-height: 50px;
    padding: 17px 65px;

    border-radius: 24px;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;

    font-size: 14px;
    font-weight: 700;
    color: #00252e;
    text-transform: capitalize;
    
    transition: color .5s ease;
}
.header__top-link:hover {
    color: #808e9a;
}
.header__content {
    padding: 70px 10px 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__intro-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.header__intro-text {
    font-size: 18px;
}
.header__intro-title,
.header__intro-text {
    max-width: 520px;
    color: #00252e;
    line-height: 1.5;
    margin-bottom: 30px;
}
.header__intro-link {
    min-width: 280px;
    min-height: 56px;
    padding: 20px 70px;

    border-radius: 28px;
    box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
    background-color: #ff52c1;

    font-size: 14px;
    font-weight: bold;
    color: #ffffff;

    transition: background-color .5s ease;
}
.header__intro-link:hover {
    background-color: #ff9adb;
}
.header__content-img {
    width: 680px;
    height: 480px;
    background: url(../images/illustration-mockups.svg) no-repeat center/contain;
}

 /* MAIN */

.main {
    padding: 160px 0 340px 0;
}
 .information {
    max-width: 1230px;
    min-height: 440px;
    padding: 50px 30px 50px 120px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 16px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
}
.information:not(:first-child) {
    margin-top: 40px;
}
.information__block-title {
    margin-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    color: #00252e;
    text-transform: capitalize;
}
.information__block-text {
    font-size: 18px;
    line-height: 1.5;
    color: #808e9a;
}
.information__block-text--grow {
    max-width: 488px;
}
.information__block-text--flow {
    max-width: 500px;
}
.information__block-text--user {
    max-width: 477px;
}
.information__img-grow,
.information__img-flowing,
.information__img-user {
    width: 410px;
    height: 410px;
    padding: 50px 20px;
    /* Чи правильно зроблено на момент коли замість цієї картики вставлять іншу? Теж саме запитання до header-а? */
}
.information__img-grow {
    background: url(../images/illustration-grow-together.svg) no-repeat center / contain;
}
.information__img-flowing {
    background: url(../images/illustration-flowing-conversation.svg) no-repeat center / contain;
}
.information__img-user {
    background: url(../images/illustration-your-users.svg) no-repeat center / contain;
}

/* FOOTER */

.footer {
    position: relative;

    padding: 140px 80px 60px 120px;

    background-color: #00252e;
}
.promo {
    width: 800px;
    height: 280px;


    position: absolute;
    top: calc(34% - 140px);
    left: 50%;
    transform: translateX(-50%) translateY(-66%);


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px 0;

    border-radius: 15px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
}
.promo__title {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.88;
    color: #00252e;
}
.promo__link {
    min-width: 400px;
    min-height: 80px;
    padding: 25px 100px;

    border-radius: 40px;
    box-shadow: 0 6px 13px 0 rgba(0, 37, 46, 0.22);
    background-color: #ff52c1;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    text-transform: capitalize;

    transition: background-color .5s ease;
}
.promo__link:hover {
    background-color: #ff9adb;
}
.footer__inner {
    padding-left: 40px;
}
.footer__link {
    width: 152px;
    height: 24px;
    margin-bottom: 30px;
}
.footer__content {
    display: flex;
    justify-content: space-between;
}
.footer__info-link--location {
    max-width: 380px;
}
.footer__info-link {
    font-size: 14px;
    line-height: 1.71;
    color: #fff;
}
.footer__info-item:not(:last-child) {
    margin-bottom: 17px;
}
.footer__info-link--location,
.footer__info-link--tel,
.footer__info-link--mail {
    position: relative;
}
.footer__info-link--location::before,
.footer__info-link--tel::before,
.footer__info-link--mail::before {
    content: '';
    position: absolute;
    left: 0;
}
.footer__info-link--location {
    padding-left: calc(27px + 13px);
}
.footer__info-link--location::before {
    width: 13px;    
    height: 18px;
    background: url(../images/icon-location.svg) no-repeat;
    top: 16%;
    transform: translate(0%, -16%);
}
.footer__info-link--tel {
    padding-left: calc(19px + 18px);
}
.footer__info-link--tel::before {
    width: 18px;
    height: 18px;
    background: url(../images/icon-phone.svg) no-repeat;
    top: 50%;
    transform: translate(0%, -50%);
}
.footer__info-link--mail {
    padding-left: calc(18px + 20px);
}
.footer__info-link--mail::before {
    width: 20px;
    height: 16px;
    background: url(../images/icon-email.svg) no-repeat;
    top: 50%;
    transform: translate(0%, -50%);
}
.footer__nav {
    display: flex;
    gap: 140px;
}
.footer__nav-item {
    line-height: 27px;
}
.footer__nav-item:not(:last-child) {
    margin-bottom: 12px;
}
.footer__nav-link {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border .5s ease;
}
.footer__nav-link:hover {
    border-color: currentColor;
}
.footer__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__social-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.footer__social-link {
    width: 33px;
    height: 31px;
    border: 1px solid #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: border .5s ease;
}
.footer__social-link svg {
    width: 15px;
    height: 15px;
    transition: fill .5s ease;
}
.footer__social-link:hover {
    border: 1px solid rgb(255, 82, 193);
}
.footer__social-link:hover svg {
    fill: rgb(255, 82, 193);
}
.footer__copy {
    display: block;
    font-size: 12px;
    color: #fff;
}