@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  Styles for common classes  */


/* Default */
*, body {
    box-sizing: border-box;
}

body {
    background: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}


/*  HEADER  */

.header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #edfbff;
}
.header__inner {
    padding-top: 48px;
}
.header__top {
    margin-bottom: 71px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header__top-logo {
    width: 200px;
    height: 31px;
}
.header__top-link {
    width: 200px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 24px;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
    color: #00252e;
    text-transform: capitalize;
    transition: color .5s ease;
}
.header__top-link:hover {
    color: #808e9a;
}
.header__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
.header__intro-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.header__intro-text {
    font-size: 18px;
}
.header__intro-title,
.header__intro-text {
    max-width: 520px;
    color: #00252e;
    line-height: 1.5;
    margin-bottom: 32px;
}
.header__intro-link {
    width: 280px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
    background-color: #ff52c1;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    transition: background-color .5s ease;
}
.header__intro-link:hover {
    background-color: #ff9adb;
}
.header__content-img {
    width: 680px;
    height: 482px;
}

/* 
        Блок з текстом і картинкою:
            пхду щось не то з відступом 
        Background img - хрень    
 */




 /* MAIN */
.main {
    margin-top: 163px;
}
 .information {
    max-width: 1232px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 33px 33px 54px 120px;
    border-radius: 16px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
}
.information:not(:last-child) {
    margin-bottom: 40px;
}


.information__block {
    padding-top: 160px;
}
.information__block-title {
    margin-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    color: #00252e;
    text-transform: capitalize;
}
.information__block-text {
    font-size: 18px;
    line-height: 1.5;
    color: #808e9a;
}
.information__block-text--grow {
    max-width: 488px;
}
.information__block-text--flow {
    max-width: 500px;
}
.information__block-text--user {
    max-width: 477px;
}
.information__img {
    width: 440px;
    height: 440px;
}

/* FOOTER */
.footer {
    position: relative;

    margin-top: 344px;
    background-color: #00252e;
    padding: 144px 78px 64px 120px;
}
.promo {
    position: absolute;
    top: calc(-87% + 144px);
    left: 50%;
    transform: translateX(-50%) translateY(calc(13%));

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 800px;
    height: 280px;
    border-radius: 15px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
}
.promo__title {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.88;
    color: #00252e;
    margin-bottom: 32px;
}
.promo__link {
    width: 400px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 6px 13px 0 rgba(0, 37, 46, 0.22);
    background-color: #ff52c1;
    transition: background-color .5s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    text-transform: capitalize;
}
.promo__link:hover {
    background-color: #ff9adb;
}

.footer__logo {
    width: 152px;
    height: 24px;
    margin-bottom: 32px;
}
.footer__content {
    display: flex;
    flex-direction: row;
}
.footer__info-list {
    margin-right: 130px;
}
.footer__info-item,
.footer__info-link {
    max-width: 339px;
    font-size: 14px;
    line-height: 1.71;
    color: #fff;
}
.footer__info-item:not(:last-child) {
    margin-bottom: 17px;
}
.footer__info-item--location,
.footer__info-link--tel,
.footer__info-link--mail {
    position: relative;
}
.footer__info-item--location::before,
.footer__info-link--tel::before,
.footer__info-link--mail::before {
    content: '';
    position: absolute;
    left: 0;
}
.footer__info-item--location {
    padding-left: calc(27px + 13px);
}
.footer__info-item--location::before {
    width: 13px;
    height: 18px;
    background: url(../images/icon-location.svg) no-repeat;
    top: 16%;
    transform: translate(0%, -16%);
}
.footer__info-link--tel {
    padding-left: calc(19px + 18px);
}
.footer__info-link--tel::before {
    width: 18px;
    height: 18px;
    background: url(../images/icon-phone.svg) no-repeat;
    top: 50%;
    transform: translate(0%, -50%);
}
.footer__info-link--mail {
    padding-left: calc(18px + 20px);
}
.footer__info-link--mail::before {
    width: 20px;
    height: 16px;
    background: url(../images/icon-email.svg) no-repeat;
    top: 50%;
    transform: translate(0%, -50%);
}


.footer__nav {
    display: flex;
    flex-direction: row;
    margin-right: 175px;
}
.footer__nav-list:not(:last-child) {
    margin-right: 143px;
}
.footer__nav-item:not(:last-child) {
    margin-bottom: 12px;
}
.footer__nav-link {
    font-size: 14px;
    line-height: 1.93;
    color: #fff;
}






.footer__social-list {
    display: flex;
    flex-direction: row;
    grid-gap: 12px;
}
.footer__social-link {
    width: 33px;
    height: 31px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.footer__social-link--facebook, 
.footer__social-link--twitter, 
.footer__social-link--instagram {
    position: relative;
}
.footer__social-link--facebook::before, 
.footer__social-link--twitter::before, 
.footer__social-link--instagram::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer__social-link--facebook::before {
    background: url(../images/icon-facebook.svg) no-repeat;
    width: 7px;
    height: 15px;
}
.footer__social-link--twitter::before {
    background: url(../images/icon-twitter.svg) no-repeat;
    width: 20px;
    height: 20px;
}
.footer__social-link--instagram::before {
    background: url(../images/icon-instagram.svg) no-repeat;
    width: 15px;
    height: 15px;
}

.footer__copy {
    display: block;
    font-size: 12px;
    color: #fff;
}